<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
</head>
<body>
	<div align="center">

	<form method="post" action="../controller/addCheck.php" onsubmit="return validateform()">
		<script type="text/javascript" src="product.js"></script>

		
		<fieldset>
			<legend> <h3> ADD PRODUCT </h3> </legend>
			<table>
				<tr>
					<td>Name</td>
				</tr>
				<tr>
					<td><input type="text" name="name" id="name" value="" onblur="NameValidation()"> </td>
					<span id="nname" >  <span>

				</tr>
				<tr>
					<td>Price</td>
				</tr>
				<tr>
					<td><input type="text" name="buyingPrice" id="bPrice" value="" onblur="BuyingValidation()"> </td>
					<span id="BPrice" >  <span>

				</tr>
				<!--<tr>
					<td>Selling Price</td>
				</tr>
				<tr>
					<td><input type="text" name="sellingPrice" value=""> </td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>-->
				<tr>
					<td>
						<input type="checkbox" name="check"> Display
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="save" value="Save"> 
					</td>
				</tr>
			</table>
		</fieldset>

	</form>
</div>
</body>
</html>
