<!DOCTYPE html>
<html>
<head>
	<title>Public Home</title>
</head>
<body>
	<table border="1" width="100%" cellspacing="0">
		<tr>
			<td align="right">

			<!--	<a> <img src="../asset/" align="left" height="100px" width="100px"> </a> -->

			<a> <img src="../asset/download.png" align="left" height="100px" width="100px"> </a> 

				<a href="publicHome.html"> Home </a> 
				    | 
				<a href="login.php"> Login </a>
				    | 
				<a href="registration.php"> Registration </a>
			
			</td>
		</tr>
		<tr height = "600px">
			<td colspan="2" position="top">
				<h1 Align="center"> Welcome to Human Aid Pharmacy Customer portal</h1>
				
			</td>
		</tr>
		<tr height = "50px">
			<td colspan="2">
				<center> A sister partner of ABC drug house </center>
			</td>
		</tr>
	</table>
</body>
</html>