<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <hr color="#000" width="20%">
            <p align="center"><font face="sans-serif"  size="5.5">Emergency Helpline</font></p>
        <hr color="#000" width="20%">
        <br><br>
        <form method="post" action="../Controller/checkcontact.php">
            <script type="text/javascript" src="rare.js"></script>

            <table align="center" cellpadding="5" cellspacing="12" border="1" height="200">
                <tr>
                    <td>
                        <input type="text" name="name" placeholder="Name" required="required" />
                    </td>
                    <td>
                        <input type="text" name="username" placeholder="Username" required="required" />
                    </td>
                </tr>
                <tr>
                    <td><input type="email" name="email" placeholder="Email" required="required" /></td>
                    <td><input type="text" name="subject" placeholder="Subject" required="required" /></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" name="save" value="Save">
                    </th>
                </tr>
            </table>
        </form>
    </div>
    
</body>
</html>