<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Feedback
    </title>
</head>
<body background="../Asset/bg.jpg">
        <div class="main" id="home">
            <br />
            <h3 align="center">
                <font face="sans" size="4">
                    <a href="home.html">BACK</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="../index.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="../Controller/logout.php">LOGOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </font>
            </h3>
            <br><br><br>
            <h4> Owner: <br> E-mail: owner@gmail.com <br> Phone: 01792568479 <br> Address: Dhaka </h4>
            <h4> Staff1: <br> E-mail:staff1@gmail.com <br> Phone:01715659874 <br> Address: Dhaka </h4>
        </div>
        <td>
            <a href='https://www.gmail.com/'>
                <h3>Gmail</h3>
            </a>
        </td>
    </body>
    </html>