<!DOCTYPE html>
<html lang="en">

<head>
    <title>Public Log in</title>
</head>

<body background="../Asset/bg.jpg" width="100%" height="100%" >
        <div>
            <br/>
            <h3 align="center">
                <font face="sans" size="4">
                    <a href="../index.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="login.php">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="registration.html">REGISTRATION</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </font>
            </h3>
                </div>

                <table align="center">
             <tr>
                <td></td>
                <td>
                    <form method="post" action="#"> 
                        <fieldset width="5px">
                            <legend><b>FORGOT PASSWORD</b></legend>
        <form class="" action="" method="post">
           <table>
           <tr>
            <td>Enter Email:</td> 
            <td><input type="email" name="email" value=""></td>
           </tr>
       </table>
            <hr>
            <input type="submit" name="submit" value="Submit">
        </form>
      </fieldset>
    </form>
</td>
</tr>
</table>
</body>
</html>