<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		dashboard
	</title>
</head>
<body background="../Asset/bg.jpg">
		<div class="main" id="home">
			<br />
			<h3 align="center">
				<font face="sans" size="4">
					<a href="profile.php">PROFILE</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="home.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="../Controller/logout.php">LOGOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
				</font>
			</h3>
		</div>


<table border="0" id="Option" width="100%" cellpadding="0" cellspacing="0">
  <tr>
     <td>
      <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
          <tr>
           	  <td height="160" align="center" valign="middle" colspan="3">
           	  	 <font face="arial" size="6" color=" #f3971b">
           	  	   Menu
           	  	</font>
           	  	<hr width="70" color="#f3971b">
           	  </td>
          </tr>
         <tr>
         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="inventory.php">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			Inventory List
         	  		   </font>
                   </a>
         	  		   <br/>
         	  		   <br/>
                     <img src="../Asset/m1.jpg" width="100%"/>
         	  		</td>
         	  	</tr>
         	  </table>
         	</td>
         	
         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="viewowner.php">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			View owner
         	  		   </font>
                 </a>
         	  		   <br/>
         	  		   <br/>
                       <img src="../Asset/m2.jpg" width="100%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>

         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="stock.php">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			Medicine Stock
         	  		   </font>
                 </a>
         	  		   <br/>
         	  		   <br/>
                       <img src="../Asset/m3.jpg" width="100%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>
         </tr>
          <tr>
         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="feedback.php">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			Reported Issues
         	  		   </font>
                 </a>
         	  		   <br/>
         	  		   <br/>
                       <img src="../Asset/m4.jpg" width="100%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>
         	
         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="expense.php">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			Expenses
         	  		   </font>
                 </a>
         	  		   <br/>
         	  		   <br/>
                       <img src="../Asset/m5.jpg" width="100%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>

         	<td width="33.33%" valign="top">
         	  <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
         	  	<tr>
         	  		<td>
                  <a href="viewstaff.php">
         	  			<font face="arial" size="4" color="#ffffff">
         	  			Terminate Stuff
         	  		   </font>
                 </a>
         	  		   <br/>
         	  		   <br/>
                       <img src="../Asset/m6.jpg" width="100%"/>
         	  		</td>
         	  	</tr>
         	  </table>	
         	</td>
         </tr>
            <td width="33.33%" valign="top">
            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
              <tr>
                <td>
                  <a href="viewcontact.php">
                  <font face="arial" size="4" color="#ffffff">
                  Contact
                   </font>
                 </a>
                   <br/>
                   <br/>
                       <img src="../Asset/m6.jpg" width="100%"/>
                </td>
              </tr>
            </table>  
          </td>

          <td width="33.33%" valign="top">
            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
              <tr>
                <td>
                  <a href="inventory.html">
                  <font face="arial" size="4" color="#ffffff">
                  Search Invetory
                   </font>
                 </a>
                   <br/>
                   <br/>
                       <img src="../Asset/m1.jpg" width="100%"/>
                </td>
              </tr>
            </table>  
          </td>

          <td width="33.33%" valign="top">
            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
              <tr>
                <td>
                  <a href="userfeedback.php">
                  <font face="arial" size="4" color="#ffffff">
                  View User FeedBack
                   </font>
                 </a>
                   <br/>
                   <br/>
                       <img src="../Asset/m6.jpg" width="100%"/>
                </td>
              </tr>
            </table>  
          </td>
           <tr>

            <td width="33.33%" valign="top">
            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
              <tr>
                <td>
                  <a href="contactcustomer.php">
                  <font face="arial" size="4" color="#ffffff">
                  Send Message to Customer
                   </font>
                 </a>
                   <br/>
                   <br/>
                       <img src="../Asset/m6.jpg" width="100%"/>
                </td>
              </tr>
            </table>  
          </td>
           	  <td height="60" colspan="3">    
           	  </td>
           </tr>
       </table>
     </td>
   </tr>
 </table>
</body>
</html>