<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../Js/inventorysearch.js"></script>
</head>
<body background="../Asset/bg.jpg">
        <div class="main" id="home">
            <br />
            <h3 align="center">
                <font face="sans" size="4">
                    <a href="home.html">BACK</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="../index.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="../Controller/logout.php">LOGOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </font>
            </h3>
        </div>
        <br><br>
	<center>
	<input type="text" name="name" id="name">
	<input type="button" name="" value="Search" onclick ="searchinventory()">
</center>
	<div id="result"></div>
</body>
</html>