<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        index
    </title>
</head>
<body background="../Asset/bg.jpg">
    <fieldset>
        <div>
            <br />
            <h3 align="center">
                <font face="sans" size="4">
                    <a href="home.html">BACK</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="../index.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="../Controller/logout.php">LOGOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </font>
            </h3>
        </div>
    <form method="post" action="../Controller/logcheck2.php">
        <fieldset>
            <legend>Login</legend>
            <table>
                <tr>
                    <td>Owner Username</td>
                    <td><input type="text" name="username" value=""> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" value=""> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="submit" value="Submit"> 
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
     <center>
    <label>
        Copyright © online medicine shop
    </label>
</center>
</fieldset>
</body>

</html>