<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		index
	</title>
</head>
<body background="../Asset/bg.jpg">
		<div class="main" id="home">
			<br />
			<h3 align="center">
				<font face="sans" size="4">
					<a href="home.html">BACK</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="../index.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="../Controller/logout.php">LOGOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
				</font>
			</h3>
		</div>

<td>
    <a href='https://www.facebook.com/'>
        <h1>Facebook</h1>
    </a>
    <a href='https://twitter.com/'>
        <h1>Twitter</h1>
    </a>
    <a href='https://www.instagram.com/?hl=en'>
        <h1>Instagram</h1>
    </a>

</td>
</tr>
</table>
</body>
</html>